
.cars{
  width: 100%;
  display: none;
}

.enabled{
  display:block;
  animation-name:fade;
  animation-duration:1.4s;
}
.slider{
  position:relative;
  width: 50%;
  
}
.slider button{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  background-color: hsla(0, 0%, 0%, 0.377);
  color:white;
  border:none;
  font-size:2rem;
  padding: 10px 15px;
}

#previous{
  left: 0;
}

#forward{
  right: 0px;
}

@keyframes fade{
  from
  {
    opacity:0.5;
  }
  to{
    opacity: 1;
  }
}